.card.vencida {
  border-left: solid 5px red;
  border-radius: 6px;
}

.card.perto {
  border-left: solid 5px rgb(255, 183, 0);
  border-radius: 6px;
}

.card.hoje {
  border-left: solid 5px rgb(0, 119, 255);
  border-radius: 6px;
}

.card.tranquilo {
  border-left: solid 5px rgb(16, 174, 85);
  border-radius: 6px;
}

.card {
    background-color: white;
    opacity: 1;
    transition: all 0.3s;
    display: flex;
    width: 900px;
    height: 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.card.pago {
  padding-left: 10px;
  background-color: #f0fff4;
  border-left: 5px solid green;
  opacity: 0.6;
  text-decoration: line-through;
}

.container {
  display: flex;
  flex-direction: column; /* Uma lista, um embaixo do outro */
  gap: 15px; /* Espaço entre os cards */
  padding: 20px;
  align-items: center; /* Centraliza os cards no meio da tela */
}

.infos{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr auto 1fr auto auto;
  align-items: center;
  gap: 15px;
}

.infos h3 {
  font-size: 1.1rem;
  margin: 0;
  white-space: nowrap; /* Não deixa quebrar linha */
  overflow: hidden;
  text-overflow: ellipsis; /* Coloca "..." se o nome for gigante */
}

.infos p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.infos button {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
}

.detalhes p{
  font-size: 11px;
}

.detalhes.perto p{
  color: rgb(255, 183, 0);
}

.detalhes.tranquilo p{
  color: rgb(16, 174, 85);
}