.card.vencida {
  border-left: solid 5px red;
  border-radius: 6px;
}

.card.perto {
  border-left: solid 5px rgb(255, 183, 0);
  border-radius: 6px;
}

.card.hoje {
  border-left: solid 5px rgb(0, 119, 255);
  border-radius: 6px;
}

.card.tranquilo {
  border-left: solid 5px rgb(16, 174, 85);
  border-radius: 6px;
}

.card {
background-color: white;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 0;
  transition: background-color 0.3s, box-shadow 0.3s;
  align-items: stretch;
}

.card.pago {
  background-color: #f0fff4;
  border-left: 5px solid green;
  opacity: 0.6;
}

.card.pago:hover {
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.infos {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 1fr 1.5fr 120px 100px 50px 1fr;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
}

  
.infos h3 {
  font-size: 1.1rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infos p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.detalhes {
  align-items: center;
  display: flex;
  width: 80px;
  justify-content: center;
}

.detalhes p{
  font-size: 11px;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 14px;
  padding: 4px;
}

.detalhes.perto p{
  color: rgb(255, 183, 0);
  background-color: rgba(255, 183, 0, 0.192);
  font-weight: 600;
}

p.preco{
  font-weight: bold;
}

.detalhes.tranquilo p{
  color: #10ae55;
  background-color:rgb(16, 174, 85, 0.192);
  font-weight: 600;
}

.detalhes.hoje p{
  color: #0077ff;
  background-color:rgb(0, 119, 255, 0.192);
    font-weight: 600;
}

.detalhes.vencida p{
  color: rgb(205, 0, 0);
  background-color:rgb(205, 0, 0, 0.192);
    font-weight: 600;
}

.infos img{
  width: 18px;
  vertical-align: bottom;
}

.remover{
    display: flex;
    border: none;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.remover:hover{
  transform: scale(1.05);
}

svg.remover{
  vertical-align: bottom;
}

img.img-pago{
  width: 30px;
}

.pagar{
  width: 80%;
  border: none;
  padding: 3px;
  background-color: rgb(16, 174, 85, 0.192);
  border-radius: 14px;
  font-weight: 600;
  color: #10ae55;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #10ae55;
  opacity: 0.6;
  transition: 0.2s ease-in;
  cursor: pointer;
  grid-column: 5;
}

.pagar:hover{
  opacity: 1;
}

.pagar img{
  width: 20px;
  margin-left: 3px;
}

.card-conteudo-extra {
  padding: 0 20px 20px 20px;
  background-color: transparent;
  animation: slideDown 0.3s ease;
}

.acoes-btn {
display: flex;
    align-items: center;
    gap: 10px;
    grid-column: 7;
    justify-content: center;

}

.expandir{
  display: flex;
  vertical-align: bottom;
  border: none;
  background-color: transparent;
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}