@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
  font-family: "Sora", sans-serif;
}

.header-table{
  background-color: rgb(255, 255, 255);
  display: grid;
  width: 900px;
  height: 50px;
  grid-template-columns: minmax(100px, 1fr) 1fr 1.5fr 120px 50px 1fr 100px;
  align-items: center;
  align-content: center;
  justify-content: center; 
  padding: 20px;
  border-radius: 10px;
  color: #555;
} 