@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
  font-family: "Sora", sans-serif;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-table{
  background-color: rgb(255, 255, 255);
  display: grid;
  width: 100%;
  max-width: 1000px;
  height: 50px;
  grid-template-columns: minmax(100px, 1fr) 1fr 1.5fr 120px 50px 1fr 100px;
  align-items: center;
  align-content: center;
  justify-content: center; 
  padding: 20px;
  border-radius: 10px;
  color: #555;
} 

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  gap: 20px;
}

input[type="text"]{
  padding: 10px;
  border-radius: 10px;
  border: solid 2px rgb(21, 161, 217);
}

input[type="Number"]{
    padding: 10px;
  border-radius: 10px;
  border: solid 2px rgb(21, 161, 217);
}

input[type="Date"]{
  padding: 10px;
  border-radius: 10px;
  border: solid 2px rgb(21, 161, 217);
}

.form button{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(21, 161, 217);
  color: white;
  font-weight: bold;
  border: solid 2px rgb(21, 161, 217);
  transition: 0.2s ease;
  cursor: pointer;
}

.form button:hover{
  background-color: rgb(17, 129, 173);
  border: solid 2px rgb(17, 129, 173);
}


.resumo-cards {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1000px; 
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .dashboard-resume {
    flex-direction: column;
  }
}

.card-resumo {
  background: white;
  flex: 1;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.2s;
}

.card-resumo:hover {
  transform: translateY(-3px);
}


.card-resumo span {
  color: #777;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
}

.card-resumo h2 {
  color: #333;
  font-size: 1.5rem;
  margin: 0;
}

h2.valor-total { color: #333; }

h2.valor-divida{
  color: rgb(205, 0, 0);
}
h2.valor-pago { color: #2a9d8f; } 

.card-head{
  display: flex;
  justify-content: space-between;
}

.app-footer {
  width: 100%;
  background-color: white;
  border-top: 1px solid #eee;
  padding: 25px 40px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #666;
  bottom: 0;
}

/* 1. Lado Esquerdo */
.footer-content {
  display: flex;
  flex-direction: column; /* SubTracker em cima, Copyright embaixo */
  gap: 2px;
}
.footer-content strong {
  color: #333;
}
.footer-content span {
  font-size: 0.8rem;
}

.footer-center {
  display: flex;
  align-items: center;
}

.footer-socials {
  display: flex;
  gap: 15px;
}

.footer-socials a {
  color: #999;
  transition: all 0.2s;
}


.footer-socials a:hover {
  color: #0077ff;
  transform: translateY(-3px);
}


@media (max-width: 768px) {
  .app-footer {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 30px 20px;
  }
  
  .footer-center {
    order: 3;
    font-size: 0.8rem;
  }
}