@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
  font-family: "Sora", sans-serif;
}

.header-table{
  background-color: rgb(255, 255, 255);
  display: grid;
  width: 900px;
  height: 50px;
  grid-template-columns: minmax(100px, 1fr) 1fr 1.5fr 120px 50px 1fr 100px;
  align-items: center;
  align-content: center;
  justify-content: center; 
  padding: 20px;
  border-radius: 10px;
  color: #555;
} 

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  gap: 20px;
}

input[type="text"]{
  padding: 10px;
  border-radius: 10px;
  border: solid 2px rgb(21, 161, 217);
}

input[type="Number"]{
    padding: 10px;
  border-radius: 10px;
  border: solid 2px rgb(21, 161, 217);
}

input[type="Date"]{
  padding: 10px;
  border-radius: 10px;
  border: solid 2px rgb(21, 161, 217);
}

.form button{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(21, 161, 217);
  color: white;
  font-weight: bold;
  border: solid 2px rgb(21, 161, 217);
  transition: 0.2s ease;
  cursor: pointer;
}

.form button:hover{
  background-color: rgb(17, 129, 173);
  border: solid 2px rgb(17, 129, 173);
}